<div appScrollPosition class="navbar-transparent navbar" [ngClass]="{ 'main-page': rla.isActive, 'dialog-active': dialogOpen }">
  <div class="logoSection">
    <img *ngIf="rla.isActive" src="/assets/imgs/logo_white.png" />
    <img *ngIf="!rla.isActive" src="/assets/imgs/logo.png" />
    <a
      class="logoText"
      routerLink="/"
      routerLinkActive="active-link"
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      >TravelShare</a
    >
  </div>
  <div class="options">
    <a>Home</a>
    <a routerLink="/travel-list">Travel List</a>
    <a>My profile</a>
  </div>
  <div class="account">
    <a (click)="openLoginPanel()">Login / Register</a>
  </div>
</div>
