<form [formGroup]="registerForm">
    <div>
        <label>Username</label>
        <app-input placeholder="Enter Username" [control]="registerForm.controls.username"></app-input>
    </div>
    <div>
        <label>Email</label>
        <app-input placeholder="Enter Email" [control]="registerForm.controls.email"></app-input>
    </div>
    <div>
        <label>Age</label>
        <app-input placeholder="Enter Age" [control]="registerForm.controls.age"></app-input>
    </div>
    <div>
        <label>Password</label>
        <app-input placeholder="Enter Password" [control]="registerForm.controls.password"></app-input>
    </div>
    <div>
        <label>Confirm Password</label>
        <app-input placeholder="Confirm Password" [control]="registerForm.controls.confirmPassword"></app-input>
    </div>
    <div>
        <label>Phone Number</label>
        <app-input placeholder="Enter Phone Number" [control]="registerForm.controls.phoneNumber" format="000-000-000"></app-input>
    </div>
    <button type="submit">Submit</button>
</form>

