<form>
    <div>
        <label>Username</label>
        <app-input placeholder="Enter Username"></app-input>
    </div>
    <div>
        <label>Email</label>
        <app-input placeholder="Enter Email"></app-input>
    </div>
    <div>
        <label>Age</label>
        <app-input placeholder="Enter Age"></app-input>
    </div>
    <div>
        <label>Password</label>
        <app-input placeholder="Enter Password"></app-input>
    </div>
    <div>
        <label>Confirm Password</label>
        <app-input placeholder="Confirm Password"></app-input>
    </div>
    <div>
        <label>Phone Number</label>
        <app-input placeholder="Enter Phone Number"></app-input>
    </div>
    <button type="submit">Submit</button>
</form>

