<div class="home">
  <div class="titlePage">
    <div @fadeIn class="overlay"></div>
    <img src="/assets/imgs/8.jpg" />
    <div class="content">
      <div @fadeIn class="upperText">
        Lorem ipsum dolor, sit amet consectetur.
      </div>
      <div @lettersIn class="mainText">
        <div>Share your favourite travel</div>
        <div>moments with millions</div>
        <div>of users online.</div>
      </div>
    </div>
    <div class="scrollText">Scroll
        <div class="scrollCircle"></div>
    </div>
  </div>
  <div class="paralaxPage">
    <div class="topText">
      <div class="upperTitleText">Lorem ipsum dolor.</div>
      <div class="lowerTitleText">Why TravelShare?</div>
    </div>
    <div class="content">
      <div class="leftSide">
        <div class="section">
          <div class="upperText">Lorem Ipsum</div>
          <div class="lowerText">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt
            voluptatum, non.
          </div>
        </div>
        <div class="section">
          <div class="upperText">Dolor Sit Amet</div>
          <div class="lowerText">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt
            voluptatum, non.
          </div>
        </div>
        <div class="section">
          <div class="upperText">Consectetur Adipisicing Elit</div>
          <div class="lowerText">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt
            voluptatum, non.
          </div>
        </div>
      </div>
      <div class="middle">
        <div class="pictures">
          <img class="image1" src="assets/imgs/vertical_1.jpg" />
          <img class="image2" src="assets/imgs/vertical_2.jpg" />
        </div>
      </div>
      <div class="rightSide">
        <div class="upperText">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
          commodi aperiam harum ea vero velit reprehenderit.
        </div>
        <div class="bottomText">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
          commodi aperiam harum ea vero velit reprehenderit. Quibusdam veritatis
          dicta ipsum, aliquid cumque exercitationem commodi optio voluptatum,
          laboriosam eveniet officiis aliquam. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Fugiat commodi aperiam harum ea vero
          velit reprehenderit.
        </div>
      </div>
    </div>
  </div>
  <app-photo-panel></app-photo-panel>
</div>
