.home {
  display: flex;
  flex-direction: column;
  gap: 0px;
  .titlePage {
    position: relative;
    user-select: none;
    height: 100vh;
    overflow: hidden;
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      min-height: 100vh;
      z-index: 1;
      display: block;
      // background: linear-gradient(
      //     180deg,
      //     rgba(0, 0, 0, 0.8),
      //     rgba(0, 0, 0, 0),
      // );
      background-color: rgba(0, 0, 0, 0.3);
    }
    img {
      overflow: hidden;
      left: 0;
      //   top: -400px;
      position: absolute;
      width: 100%;
      min-height: 100vh;
      z-index: 0;
    }
    color: white;
    .content {
      user-select: none;
      position: relative;
      top: 230px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      .upperText {
        position: relative;
        z-index: 3;
        font-family: "Basetica Medium", sans-serif;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 600;
      }
      .mainText {
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;
          font-family: Georgia, "Times New Roman", Times, serif;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2;
          // max-width: 600px;
          text-align: center;
          white-space: nowrap;
        }
        text-align: center;
        position: relative;
        z-index: 3;
      }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    .scrollText {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      bottom: 12px;
      z-index: 3;
      font-family: "Basetica Light", sans-serif;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      font-size: 0.7rem;
      font-weight: 600;
      height: 100px;
      width: 100px;
    }
    .scrollCircle {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: center;
      content: "";
      position: absolute;
      bottom: -58.5%;
      height: 100%;
      width: 100%;
      border: 2px dashed white;
      border-radius: 50%;
    }
    // .scrollText:hover::after {
    //   border: 3px solid white;
    //   // bottom: -70px;
    //   height: 120px;
    //   width: 120px;
    // }
  }

  .paralaxPage {
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: center;
    // justify-content: center;
    z-index: 4;
    height: 145vh;
    background-color: #283a2c;
    color: white;
    font-family: "Basetica Medium", sans-serif;
    .topText {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;
      margin-top: 100px;
      .upperTitleText {
        font-size: 1.5rem;
      }

      .lowerTitleText {
        letter-spacing: 0.06em;
        font-size: 3.5rem;
        font-family: Georgia, "Times New Roman", Times, serif;
      }
    }
    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      gap: 40px;
      .leftSide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 90px;
        width: 270px;
        position: relative;
        height: auto;
        .section {
            position: absolute;
            top: 150px;
          width: 180px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          .upperText {
            font-size: 1.8rem;
            width: 150px;
            line-height: 2rem;
            text-align: center;
            font-family: Georgia, "Times New Roman", Times, serif;
          }
          .lowerText {
            font-size: 0.9rem;
            text-align: center;
          }
        }
        .section:first-child {
            position: relative;
            left: 50px;
        }
        .section:nth-child(2) {
            position: relative;
            left: 150px;
        }
        .section:last-child {
            position: relative;
            left: 400px;
        }
      }
      .middle {
        position: relative;
        height: 450px;
        .pictures {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          img:first-child {
            height: 450px;
            transform: rotate(-3deg);
          }
          img:last-child {
            height: 300px;
            position: absolute;
            bottom: -140px;
            right: -120px;
            transform: rotate(2deg);
          }
        }
      }
      .rightSide {
        position: relative;
        top: 100px;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        width: 270px;
        .upperText {
            font-size: 1.25rem;
            line-height: 1.8rem;
            font-family: sans-serif;
            font-weight: 100;
        }
        .bottomText {
            font-size: 0.95rem;
            line-height: 1.6rem;
            font-weight: 100;
        }
      }
    }
  }
}
