<mat-dialog-content class="mat-typography dialog">
  <div class="leftSide">
    <div class="overlay"></div>
    <div class="content">
        <div class="main">
            <div>Share</div>
            <div>Adventures</div>
            <div class="smaller">For free</div>
        </div>
        <div class="bottom">
            <div>Lorem</div>
            <div>Ipsum</div>
            <div>Dolor</div>
            <div>Sit</div>
            <div>Amet</div>
        </div>
    </div>
  </div>
  <div class="rightSide">
    <div class="upperText">
      <div class="header">
        <div>Join over 25 million</div>
        <div>explorers from around the globe.</div>
      </div>
      <div class="content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, facere
        nemo? Nisi, molestiae adipisci pariatur.
      </div>
    </div>
    <app-register></app-register>
    <div class="swapPanels">
      <div>Already a member?</div>
      <div>Login</div>
    </div>
  </div>
</mat-dialog-content>
