.dialog {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  max-height: none;
  .leftSide {
    background-image: url("/assets/imgs/mount_everest.png");
    background-size: 600px;
    height: 100%;
    width: 500px;
    position: relative;
    .overlay {
      background: linear-gradient(
        to top right,
        rgba(0, 0, 255, 0.4),
        rgba(231, 234, 240, 0.4)
        
      );
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .content {
      position: relative;
      z-index: 100;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      .main {
        margin-left: 30px;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        font-weight: 500;
        gap: 40px;
        font-size: 3.4rem;
      }
      .bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 45px;
        font-size: 0.9rem;
        margin-bottom: 40px;
      }
    }
  }
  .rightSide {
    height: 100%;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 10px 0;
    .upperText {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      margin-top: 10px;
      padding: 30px 0px;
      width: 280px;
      .header {
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 25px;
        letter-spacing: 1.1px;
        div:first-child {
          color: var(--main_color);
        }
      }
      .content {
        font-size: 14px;
        color: darkgray;
      }
    }
    .swapPanels {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      gap: 6px;
      div:first-child {
        font-weight: bold;
      }
      div:nth-child(2) {
        cursor: pointer;
        color: var(--main_color);
      }
    }
  }
}

::ng-deep .my-custom-dialog-class {
  mat-dialog-container {
    padding: 0;
    height: 600px;
    width: auto;
    overflow: none;
  }
}
