<div class="photoPanel">
    <div class="infoSection">
        <div class="infoText">
            <div class="upperInfo">Lorem ipsum dolor, sit amet sed du eiusmod tempor.</div>
            <div class="lowerInfo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque iste, illo saepe repellat fugiat alias animi aspernatur. Adipisci, sunt? Assumenda dicta dolorum eaque tempore aperiam. Explicabo praesentium a aut nobis</div>
        </div>
        <img class="cameraImage" src="assets/imgs/camera1.jpg">
    </div>
    <div class="pictureGrid">
        <div class="imageContainer">
            <img src="assets/imgs/ver2.jpg">
            <div class="description">
                <div class="upperDescription">Lorem ipsum dolor, sit amet</div>
                <div class="lowerDescription">Lorem ipsum</div>
            </div>
        </div>
        <div class="imageContainer">
            <img src="assets/imgs/ver3.jpg">
            <div class="description">
                <div class="upperDescription">sed do eiusmod tempor</div>
                <div class="lowerDescription">sit dolor amet</div>
            </div>
        </div>
        <div class="imageContainer">
            <img src="assets/imgs/ver4.jpg">
            <div class="description">
                <div class="upperDescription">incididunt ut labore et dolore</div>
                <div class="lowerDescription">sed do eiusmod</div>
            </div>
        </div>
        <div class="imageContainer">
            <img src="assets/imgs/ver5.jpg">
            <div class="description">
                <div class="upperDescription">magna aliqua, Ut enim ad</div>
                <div class="lowerDescription">tempor incididunt</div>
            </div>
        </div>
        <div class="imageContainer">
            <img src="assets/imgs/ver6.jpg">
            <div class="description">
                <div class="upperDescription">minim veniam, quis nostrud</div>
                <div class="lowerDescription">ut labore et dolore</div>
            </div>
        </div>
        <div class="imageContainer">
            <img src="assets/imgs/ver7.jpg">
            <div class="description">
                <div class="upperDescription">exercitation ullamco laboris</div>
                <div class="lowerDescription">magna aliqua</div>
            </div>
        </div>
    </div>
</div>
