.status {
  // height: 40px;
//   padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  .loading {
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-blue);
    .text {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      .spinner {
        position: absolute;
        left: -40px;
      }
    }
  }
  .success {
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(46, 206, 46);
    .text {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      .icon {
        position: absolute;
        left: -30px;
      }
    }
  }
  .error {
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    .text {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -30px;
      }
    }
  }
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--main-blue);
}
