/* You can add global styles to this file, and also import other style files */

html, body {  width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --main-green: #55d255;
    --main-green-hover: #3a9b3a;
    --main-blue: #676eff;
    --main-blue-hover: #4349bd;
}
