<div class="footer">
  <div class="upperFooter">
    <div class="footerSection section1">
      <img src="assets/imgs/logo_white.png" />
      <div class="companyName">TravelShare</div>
    </div>
    <div class="footerSection section2">
      <div class="header">Lorem</div>
      <div class="text">Lorem ipsum</div>
      <div class="text">sit dolor amet</div>
      <div class="text">consectetur</div>
    </div>
    <div class="footerSection section3">
      <div class="header">Ipsum</div>
      <div class="text">adipisicing elit</div>
      <div class="text">Et aperiam</div>
    </div>
    <div class="footerSection section4">
      <div class="header">Dolor</div>
      <div class="text">harum ea vero</div>
      <div class="text">velit reprehenderit</div>
      <div class="text">voluptatum non</div>
    </div>
    <div class="footerSection section5">
      <div class="header">Sit</div>
      <div class="text">About us</div>
      <div class="text">Contact us</div>
      <div class="text">Affiliates</div>
      <div class="text">Resources</div>
    </div>
  </div>
  <div class="line"></div>
  <div class="lowerFooter">
    <div class="icons"></div>
    <div class="copyright"></div>
  </div>
</div>
